In [8]:
import pandas as pd

df_attack = pd.read_csv("ataque.csv")

In [9]:
df_attack = df_attack.drop(columns=["Sh", "Sh.1"])
df_attack = df_attack.rename(columns={"Sh.2": "Shots"})

In [10]:
df_attack["SoT"] = 0
df_attack["SoT"] = [
    38, 33, 34, 64, 56, 33, 47, 40, 48, 49,
    38, 39, 66, 44, 41, 82, 43, 41
]

In [11]:
df_attack[["Squad", "Shots", "SoT"]]

             Squad  Shots  SoT
0          Alverca    100   38
1           Arouca    104   33
2      AVS Futebol    114   34
3          Benfica    165   64
4            Braga    139   56
5         Casa Pia    101   33
6          Estoril    148   47
7          Estrela    128   40
8        Famalicão    147   48
9   Gil Vicente FC    146   49
10      Moreirense    102   38
11        Nacional    120   39
12           Porto    162   66
13         Rio Ave    104   44
14     Santa Clara    131   41
15     Sporting CP    223   82
16         Tondela    131   43
17         Vitória    138   41

In [12]:

df_attack["ShotPr"] = (df_attack["SoT"] / df_attack["Shots"]) * 100

df_attack["Finalizacao"] = (df_attack["Gls"] / df_attack["Shots"]) * 100

df_attack["ShotPr"] = df_attack["ShotPr"].round(2)
df_attack["Finalizacao"] = df_attack["Finalizacao"].round(2)

In [13]:
df_attack.head()

,Squad,# Pl,90s,SCA,SCA90,PassLive,PassDead,TO,Fld,Def,...,PassLive/Gls,PassDead/Gls,TO.1,Fld.1,Def.1,Shots,Gls,SoT,ShotPr,Finalizacao
0,Alverca,26,11.0,183,16.64,128,15,11,17,1,...,12,1,2,3,0.0,100,11,38,38.00,11.00
1,Arouca,24,11.0,188,17.09,151,16,7,7,4,...,20,2,1,0,NaN,104,13,33,31.73,12.50
2,AVS Futebol,29,11.0,207,18.82,139,27,11,15,4,...,12,0,1,0,1.0,114,8,34,29.82,7.02
3,Benfica,25,11.0,319,29.00,227,27,22,17,3,...,21,3,3,6,0.0,165,23,64,38.79,13.94
4,Braga,25,11.0,261,23.73,191,29,6,16,3,...,17,2,1,7,0.0,139,19,56,40.29,13.67

In [14]:
df_attack = df_attack[[
    "Squad",
    "Finalizacao",
    "ShotPr",
    "SCA",
    "PassLive",
    "PassDead"
]].copy()
equipas_top = [
    "Famalicão",
    "Benfica",
    "Gil Vicente FC",
    "Sporting CP",
    "Porto"
]

df_attack = df_attack[df_attack["Squad"].isin(equipas_top)].reset_index(drop=True)

In [15]:
df_attack

            Squad  Finalizacao  ShotPr  SCA  PassLive  PassDead
0         Benfica        13.94   38.79  319       227        27
1       Famalicão         7.48   32.65  255       192        23
2  Gil Vicente FC        10.96   33.56  251       154        29
3           Porto        14.81   40.74  270       191        19
4     Sporting CP        11.66   36.77  401       296        25

In [16]:
import os

output_path = r"C:\Users\jjorg\Desktop\Analise Futebol\data_processed"


df_attack.to_csv(os.path.join(output_path, "df_attack.csv"), index=False)