In [1]:
import pandas as pd

df_individual = pd.read_csv("Individual.csv")
df_individual.head()

,Player,Pos,TklW,Blocks,Int,AerialsWon,PassesCmp,PassesCmp%,Att,Succ%,PrgC,Sh,G/Sh,SoT%,SCA90,Min
0,Diogo Costa,GK,0.0,0.0,0.0,4.0,430.0,79.9,0.0,NaN,0.0,0.0,0.00,0.0,0.46,1170.0
1,Victor Froholdt,MF,10.0,16.0,11.0,13.0,270.0,82.3,34.0,47.1,28.0,12.0,0.17,16.7,2.45,1137.0
2,Jan Bednarek,DF,4.0,14.0,15.0,42.0,917.0,94.1,1.0,0.0,9.0,5.0,0.00,40.0,0.51,1055.0
3,Alan Varela,MF,2.0,8.0,10.0,8.0,448.0,85.2,8.0,75.0,7.0,7.0,0.00,42.9,2.07,999.0
4,Samu Omorodion,FW,1.0,2.0,2.0,12.0,86.0,71.1,24.0,50.0,14.0,33.0,0.15,57.6,2.11,769.0

In [7]:

df_individual["Min"] = df_individual["Min"].replace(0, pd.NA)

df_individual["Desarmes_per90"] = df_individual["TklW"] / df_individual["Min"] * 90
df_individual["Bloqueios_per90"] = df_individual["Blocks"] / df_individual["Min"] * 90
df_individual["Intercessoes_per90"] = df_individual["Int"] / df_individual["Min"] * 90
df_individual["BolaAerea_per90"] = df_individual["AerialsWon"] / df_individual["Min"] * 90
df_individual["ConduçaoPrgc_per90"] = df_individual["PrgC"] / df_individual["Min"] * 90

In [10]:
cols_keep = [
    "Player",
    "Pos",
    "PassesCmp",
    "PassesCmp%",
    "Att",
    "Succ%",
    "Sh",
    "G/Sh",
    "SoT%",
    "SCA90",
    "Desarmes_per90",
    "Bloqueios_per90",
    "Intercessoes_per90",
    "BolaAerea_per90",
    "ConduçaoPrgc_per90"
]

df_individual = df_individual[cols_keep]
df_individual.head()

,Player,Pos,PassesCmp,PassesCmp%,Att,Succ%,Sh,G/Sh,SoT%,SCA90,Desarmes_per90,Bloqueios_per90,Intercessoes_per90,BolaAerea_per90,ConduçaoPrgc_per90
0,Diogo Costa,GK,430.0,79.9,0.0,NaN,0.0,0.00,0.0,0.46,0.000000,0.000000,0.000000,0.307692,0.000000
1,Victor Froholdt,MF,270.0,82.3,34.0,47.1,12.0,0.17,16.7,2.45,0.791557,1.266491,0.870712,1.029024,2.216359
2,Jan Bednarek,DF,917.0,94.1,1.0,0.0,5.0,0.00,40.0,0.51,0.341232,1.194313,1.279621,3.582938,0.767773
3,Alan Varela,MF,448.0,85.2,8.0,75.0,7.0,0.00,42.9,2.07,0.180180,0.720721,0.900901,0.720721,0.630631
4,Samu Omorodion,FW,86.0,71.1,24.0,50.0,33.0,0.15,57.6,2.11,0.117035,0.234070,0.234070,1.404421,1.638492

In [14]:
df_individual = df_individual.copy()

numeric_cols = [
    "PassesCmp",
    "PassesCmp%",
    "Att",
    "Succ%",
    "Sh",
    "G/Sh",
    "SoT%",
    "SCA90",
    "Desarmes_per90",
    "Bloqueios_per90",
    "Intercessoes_per90",
    "BolaAerea_per90",
    "ConduçaoPrgc_per90"
]

for col in numeric_cols:
    df_individual[col] = (
        df_individual[col]
        .astype(str)
        .str.replace(",", ".", regex=False)
        .astype(float)
    )

In [15]:
output_path = r"C:\Users\jjorg\Desktop\Analise Futebol\data_processed\individual_cleaned.csv"
df_individual.to_csv(output_path, index=False, encoding="utf-8")