In [1]:
import pandas as pd

df = pd.read_csv("top5_stats.csv")
df.head()

,Squad,# Pl,Age,Poss,MP,Starts,Min,90s,Gls,Ast,...,CrdY,CrdR,xG,npxG,xAG,npxG+xAG,PrgC,PrgP,GlsA,xGA
0,Benfica,25,26.0,59.7,10,110,900,10.0,21,10,...,27,1,20.0,15.3,11.3,26.5,228,518,5,8.6
1,Famalicão,22,24.5,50.7,10,110,900,10.0,11,7,...,31,1,13.8,13.8,11.0,24.8,161,380,5,10.2
2,Gil Vicente FC,23,25.9,44.8,10,110,900,10.0,15,10,...,27,3,13.4,10.9,7.9,18.8,129,257,5,11.0
3,Porto,24,24.8,53.1,10,110,900,10.0,23,19,...,29,1,18.5,17.0,13.5,30.5,172,385,2,6.9
4,Sporting CP,23,25.5,61.1,10,110,900,10.0,24,19,...,19,0,23.7,21.4,17.1,38.5,249,536,6,5.4

In [2]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 24 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Squad     5 non-null      object
 1   # Pl      5 non-null      int64
 2   Age       5 non-null      float64
 3   Poss      5 non-null      float64
 4   MP        5 non-null      int64
 5   Starts    5 non-null      int64
 6   Min       5 non-null      int64
 7   90s       5 non-null      float64
 8   Gls       5 non-null      int64
 9   Ast       5 non-null      int64
 10  G+A       5 non-null      int64
 11  G-PK      5 non-null      int64
 12  PK        5 non-null      int64
 13  PKatt     5 non-null      int64
 14  CrdY      5 non-null      int64
 15  CrdR      5 non-null      int64
 16  xG        5 non-null      float64
 17  npxG      5 non-null      float64
 18  xAG       5 non-null      float64
 19  npxG+xAG  5 non-null      float64
 20  PrgC      5 non-null      int64
 21  PrgP      5 non-null      int64
 22  GlsA      5 non-null      int64
 23  xGA       5 non-null      float64
dtypes: float64(8), int64(15), object(1)
memory usage: 1.1+ KB

In [3]:
df.describe()

,# Pl,Age,Poss,MP,Starts,Min,90s,Gls,Ast,G+A,...,CrdY,CrdR,xG,npxG,xAG,npxG+xAG,PrgC,PrgP,GlsA,xGA
count,5.000000,5.000000,5.000000,5.0,5.0,5.0,5.0,5.000000,5.000000,5.000000,...,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000
mean,23.400000,25.340000,53.880000,10.0,110.0,900.0,10.0,18.800000,13.000000,31.800000,...,26.600000,1.200000,17.880000,15.680000,12.160000,27.820000,187.800000,415.200000,4.600000,8.420000
std,1.140175,0.665582,6.692683,0.0,0.0,0.0,0.0,5.585696,5.612486,10.802777,...,4.560702,1.095445,4.343616,3.904741,3.407052,7.305272,49.464128,114.388374,1.516575,2.306946
min,22.000000,24.500000,44.800000,10.0,110.0,900.0,10.0,11.000000,7.000000,18.000000,...,19.000000,0.000000,13.400000,10.900000,7.900000,18.800000,129.000000,257.000000,2.000000,5.400000
25%,23.000000,24.800000,50.700000,10.0,110.0,900.0,10.0,15.000000,10.000000,25.000000,...,27.000000,1.000000,13.800000,13.800000,11.000000,24.800000,161.000000,380.000000,5.000000,6.900000
50%,23.000000,25.500000,53.100000,10.0,110.0,900.0,10.0,21.000000,10.000000,31.000000,...,27.000000,1.000000,18.500000,15.300000,11.300000,26.500000,172.000000,385.000000,5.000000,8.600000
75%,24.000000,25.900000,59.700000,10.0,110.0,900.0,10.0,23.000000,19.000000,42.000000,...,29.000000,1.000000,20.000000,17.000000,13.500000,30.500000,228.000000,518.000000,5.000000,10.200000
max,25.000000,26.000000,61.100000,10.0,110.0,900.0,10.0,24.000000,19.000000,43.000000,...,31.000000,3.000000,23.700000,21.400000,17.100000,38.500000,249.000000,536.000000,6.000000,11.000000

In [4]:
df["eff_ofensiva"] = df["Gls"] / df["xG"]
df["eff_defensiva"] = df["xGA"] / df["GlsA"]
df["prg_total"] = df["PrgC"] + df["PrgP"]
df["g_per_90"] = df["Gls"] / df["90s"]
df["ga_per_90"] = df["GlsA"] / df["90s"]
df["xg_per_90"] = df["xG"] / df["90s"]
df["xga_per_90"] = df["xGA"] / df["90s"]

In [9]:
df_overview = df[['Squad', 'Poss', 'Gls', 'xG', 'GlsA', 'xGA']]  
df_overview.to_csv(r"C:\Users\jjorg\Desktop\Analise Futebol\overview_top5.csv", index=False)